/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;

}

* {
  box-sizing: border-box;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(2, 132, 130);
  font-family: 'Faster One', cursive;
  font-size: 100px;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  color: teal;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

h3 {
  color: #ffd700;
  font-size: 22px;
  text-align: center;
}

nav {
  background-color: #808080;
}

nav a {
  background-color: #ffbf00;
  color: #fff;
  padding: 35px;
  display: block;
  float: left;
  text-decoration: none;
}

nav a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

header {
  width: 100%;
  min-width: 500px;
}

section {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.board {
  display: inline-block;
  width: 50%;
  min-width: 500px;
  height: 50%;
  background: #ccc;
}

.card {
  border: 1px solid rgb(0,0,0);
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-color: #FFFF00;
  margin: 8%;
  display: inline-block;
}

.front {
  background-color: transparent;
  border: 0;
}

.card img {
  height: 200px;
  margin: auto;
  display: block;
}

.card .correct img {
  animation-name: example;
  animation-duration: 2s;
}

aside {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
  background-color: #808080;
  height: 40px;
  padding: 0;
}

table {
  padding: 0;
  margin: 0 auto;
  color: #fff;
}

td {
  padding: 0 80px;
  line-height: 36px;
  font-size: 20px;
}

#resetButton{
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  float: left;
  margin-right: 10px;
  height: 36px;
  width: 36px;
  text-shadow: 2px 2px 4px #000;
}

#resetButton:hover {
  font-weight: bold;
  color: #ffbf00;
}

#resetButton:active {
  color: #ee5f3c;
}

#tallyElement {
  color: #fff;
}

footer {
  margin-top: 40px;
  width: 100%;
  min-width: 500px;
  background-color: #808080;
  padding: 2px;
  font-size: 16px;
}

span {
  color: #ff0000;
}
